{{ if eq .chezmoi.os "linux" -}}
set -gx HSA_OVERRIDE_GFX_VERSION 10.3.0
set -gx QT_QPA_PLATFORM wayland
set -gx XDG_CONFIG_HOME $HOME/.config
{{- end }}



### Some paths are appended instead of default prepended for security reasons

fish_add_path -g $HOME/.local/bin

if test -d $HOME/.cargo
    set -gx CARGO_ROOT $HOME/.cargo
    fish_add_path -ga $CARGO_ROOT/bin
end

if test -d $HOME/.goenv
    set -gx GOENV_ROOT $HOME/.goenv
    fish_add_path -ga $GOENV_ROOT/bin
    goenv init - | source
    fish_add_path -ga $GOROOT/bin
    fish_add_path -ga $GOPATH/bin
    abbr -a goenv_update "cd ~/.goenv && git pull --recurse-submodules --jobs=10"
end

if test -d $HOME/.nodenv
    set -gx NODENV_ROOT $HOME/.nodenv
    fish_add_path -ga $NODENV_ROOT/bin
    nodenv init - | source
    abbr -a nodenv_update "cd ~/.nodenv/plugins/node-build && git pull --recurse-submodules --jobs=10"
end

if test -d $HOME/.pyenv
    set -gx PYENV_ROOT $HOME/.pyenv
    fish_add_path -ga $PYENV_ROOT/bin
    pyenv init - | source
    abbr -a pyenv_update "cd ~/.pyenv && git pull --recurse-submodules --jobs=10"
end

if test -d $HOME/.rbenv
    set -gx RBENV_ROOT $HOME/.rbenv
    fish_add_path -ga $RBENV_ROOT/bin
    rbenv init - | source
    abbr -a rbenv_update "cd ~/.rbenv && git pull --recurse-submodules --jobs=10"
end

{{ if eq .chezmoi.os "darwin" -}}
{{ if eq .chezmoi.arch "amd64" -}}
if test -d /usr/local
    set -gx HOMEBREW_PREFIX /usr/local
{{- else -}}
if test -d /opt/homebrew
    set -gx HOMEBREW_PREFIX /opt/homebrew
{{- end }}
{{- else if eq .chezmoi.os "linux" -}}
if test -d /home/linuxbrew/.linuxbrew
    set -gx HOMEBREW_PREFIX /home/linuxbrew/.linuxbrew
{{- end }}
    set -gx HOMEBREW_CELLAR $HOMEBREW_PREFIX/Cellar
    set -gx HOMEBREW_REPOSITORY $HOMEBREW_PREFIX/Homebrew
    fish_add_path -ga $HOMEBREW_PREFIX/bin $HOMEBREW_PREFIX/sbin
    abbr -a brew_update "for i in (brew leaves); brew upgrade \$i &>/dev/null; end"
end

if type -q fzf
    fzf --fish | source
end

if type -q micro
    set -gx EDITOR micro
    set -gx MICRO_TRUECOLOR 1
    # set MICRO_CONFIG_HOME to be able to use Micro with sudo without passing param like '--preserve-env=HOME' if sudo $HOME points to /root or something else...
    {{ if eq .chezmoi.os "darwin" -}}
    set -gx MICRO_CONFIG_HOME /Users/$(whoami)/.config/micro
    {{- else if eq .chezmoi.os "linux" -}}
    set -gx MICRO_CONFIG_HOME /home/$(whoami)/.config/micro
    {{- end }}

    abbr -a mc micro
end



abbr -a cl clear

{{ if eq .chezmoi.os "darwin" -}}
if test -d "/Applications/VSCodium.app"
    abbr -a code "/Applications/VSCodium.app/Contents/Resources/app/bin/codium"
else if test -d "/Applications/Visual Studio Code.app"
    abbr -a code "/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code"
end
{{- else if eq .chezmoi.os "linux" -}}
if type -q flatpak
    if test -n "$(flatpak list --app --columns application | grep com.vscodium.codium)"
        abbr -a code "flatpak run com.vscodium.codium --ozone-platform=wayland"
    else if test -n "$(flatpak list --app --columns application | grep com.visualstudio.code)"
        abbr -a code "flatpak run com.visualstudio.code --ozone-platform=wayland"
    end
end
{{- end }}

abbr -a cz chezmoi

if type -q eza
    abbr -a lsa "eza -la"
else
    abbr -a lsa "ls -la"
end

if type -q fzf
    if type -q bat
        if type -q micro
            {{ if eq .chezmoi.os "darwin" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'bat --style=numbers --color=always {}' --multi | xargs micro"
            {{- else if eq .chezmoi.os "linux" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'bat --style=numbers --color=always {}' --multi | xargs --no-run-if-empty micro"
            {{- end }}
        else
            {{ if eq .chezmoi.os "darwin" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'bat --style=numbers --color=always {}' | xargs --max-args 1 vi"
            {{- else if eq .chezmoi.os "linux" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'bat --style=numbers --color=always {}' | xargs --max-args 1 --no-run-if-empty vi"
            {{- end }}
        end
    else
        if type -q micro
            {{ if eq .chezmoi.os "darwin" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'cat {}' --multi | xargs micro"
            {{- else if eq .chezmoi.os "linux" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'cat {}' --multi | xargs --no-run-if-empty micro"
            {{- end }}
        else
            {{ if eq .chezmoi.os "darwin" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'cat {}' | xargs --max-args 1 vi"
            {{- else if eq .chezmoi.os "linux" -}}
            abbr -a fz "fzf --layout=reverse --no-sort --bind 'space:toggle' --preview 'cat {}' | xargs --max-args 1 --no-run-if-empty vi"
            {{- end }}
        end
    end
end

if type -q lazygit
    abbr -a g "lazygit"
end

if type -q odin
    abbr -a odin_update "cd $(dirname $(realpath $(which odin))) && git pull --recurse-submodules --jobs=10 && make"
end

if type -q ols
    abbr -a ols_update "cd $(dirname $(realpath $(which ols))) && git pull --recurse-submodules --jobs=10"
end

abbr -a rmf "rm -Rf"

if type -q yazi
    function y
    	set tmp (mktemp -t "yazi-cwd.XXXXXX")
    	yazi $argv --cwd-file="$tmp"
    	if set cwd (command cat -- "$tmp"); and [ -n "$cwd" ]; and [ "$cwd" != "$PWD" ]
    		builtin cd -- "$cwd"
    	end
    	rm -f -- "$tmp"
    end
end



if status is-interactive
    fish_config theme choose Bogster

    function fish_greeting
        # if type -q neofetch
        #     neofetch
        # end
    end

    if type -q starship
        starship init fish | source
    end

    if type -q vivid
        set -gx LS_COLORS $(vivid generate bogster)
    end
end
