if status is-interactive
    {{ if eq .chezmoi.os "darwin" -}}
    if test -d "/Applications/VSCodium.app"
        abbr -a code "/Applications/VSCodium.app/Contents/Resources/app/bin/codium"
    else if test -d "/Applications/Visual Studio Code.app"
        abbr -a code "/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code"
    end
    {{- else if eq .chezmoi.os "linux" -}}
    if command -q flatpak
        if test -n "$(flatpak list --app --columns application | grep com.vscodium.codium)"
            abbr -a code "flatpak run com.vscodium.codium --ozone-platform=wayland"
        else if test -n "$(flatpak list --app --columns application | grep com.visualstudio.code)"
            abbr -a code "flatpak run com.visualstudio.code --ozone-platform=wayland"
        end
    end
    {{- end }}
end
