[commit]
    gpgsign = true
[core]
    pager = delta
[delta]
    line-numbers = true
    navigate = true
[diff]
	colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
    format = ssh
[gui]
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[user]
    signingkey = {{ .public_key }}
    name = {{ .fullname }}
    email = {{ .email }}
