local wezterm = require 'wezterm'

local config = {}

if wezterm.config_builder then
  config = wezterm.config_builder()
end

config.color_scheme = 'dobri_next_a00_black'
config.font = wezterm.font {
  family = 'FiraCode Nerd Font',
  harfbuzz_features = { 'cv02', 'cv29', 'ss01', 'ss03', 'ss05' },
  weight = 400,
}
{{ if eq .chezmoi.os "darwin" -}}
config.font_size = 14.5
{{- else if eq .chezmoi.os "linux" -}}
config.font_size = 10.5
config.freetype_load_target = "Light"
{{- end }}
config.line_height = 1.22
config.front_end = 'WebGpu'
config.enable_scroll_bar = true
config.scrollback_lines = 100000
{{ if eq .chezmoi.os "linux" -}}
config.window_decorations="RESIZE"
{{- end }}
config.check_for_updates = false

return config
