if status is-interactive
    function fish_greeting
        # neofetch
    end

    starship init fish | source

    fish_config theme choose Bogster

    set -gx LS_COLORS $(vivid generate bogster)
end

fish_add_path $HOME/.local/bin

set -gx CARGO_ROOT $HOME/.cargo
fish_add_path $CARGO_ROOT/bin

set -gx NODENV_ROOT $HOME/.nodenv
fish_add_path $NODENV_ROOT/bin
if command -v nodenv 1>/dev/null 2>&1
    nodenv init - | source
end
fish_add_path $NODENV_ROOT/shims
alias nodenv_update="cd ~/.nodenv/plugins/node-build && git pull"

set -gx PYENV_ROOT $HOME/.pyenv
fish_add_path $PYENV_ROOT/bin
if command -v pyenv 1>/dev/null 2>&1
    pyenv init - | source
end
fish_add_path $PYENV_ROOT/shims

set -gx RBENV_ROOT $HOME/.rbenv
fish_add_path $RBENV_ROOT/bin
if command -v rbenv 1>/dev/null 2>&1
    rbenv init - | source
end
fish_add_path $RBENV_ROOT/shims

set -gx EDITOR micro
set -gx MICRO_TRUECOLOR 1
# set MICRO_CONFIG_HOME to be able to use Micro with sudo without passing param like '--preserve-env=HOME' if sudo $HOME points to /root or something else...
{{ if eq .chezmoi.os "darwin" }}
set -gx MICRO_CONFIG_HOME /Users/$(whoami)/.config/micro
{{ else if eq .chezmoi.os "linux" }}
set -gx XDG_CONFIG_HOME $HOME/.config
set -gx MICRO_CONFIG_HOME /home/$(whoami)/.config/micro
set -gx DOCKER_HOST unix://$XDG_RUNTIME_DIR/podman/podman.sock
{{ end }}

alias mc=micro
