if status is-interactive
    # Commands to run in interactive sessions can go here
end

set -gx EDITOR micro

# use Confs with sudo without passing param like '--preserve-env=HOME' if sudo $HOME points to /root or something else...
{{ if eq .chezmoi.os "darwin" }}
set -gx MICRO_CONFIG_HOME "/Users/$(whoami)/.config/micro"
{{ else if eq .chezmoi.os "linux" }}
set -gx MICRO_CONFIG_HOME "/home/$(whoami)/.config/micro"
{{ end }}

set CARGO_ROOT "$HOME/.cargo"
fish_add_path "$CARGO_ROOT/bin"

fish_add_path "$HOME/.local/bin"

alias mc="micro"

starship init fish | source
