if status is-interactive
    fish_config theme choose Bogster

    function fish_greeting
        # neofetch
    end

    if type -q starship
        starship init fish | source
    end

    if type -q vivid
         set -gx LS_COLORS $(vivid generate bogster)
    end
end

### Some paths are appended instead of default prepended for security reasons

fish_add_path -g $HOME/.local/bin

if test -e $HOME/.cargo
    set -gx CARGO_ROOT $HOME/.cargo
    fish_add_path -ga $CARGO_ROOT/bin
end

if test -e $HOME/.goenv
    set -gx GOENV_ROOT $HOME/.goenv
    fish_add_path -ga $GOENV_ROOT/bin
    goenv init - | source
    fish_add_path -ga $GOROOT/bin
    fish_add_path -ga $GOPATH/bin
    alias goenv_update="cd ~/.goenv && git pull --recurse-submodules --jobs=10"
end

if test -e $HOME/.nodenv
    set -gx NODENV_ROOT $HOME/.nodenv
    fish_add_path -ga $NODENV_ROOT/bin
    nodenv init - | source
    alias nodenv_update="cd ~/.nodenv/plugins/node-build && git pull --recurse-submodules --jobs=10"
end

if test -e $HOME/.pyenv
    set -gx PYENV_ROOT $HOME/.pyenv
    fish_add_path -ga $PYENV_ROOT/bin
    pyenv init - | source
    alias pyenv_update="cd ~/.pyenv && git pull --recurse-submodules --jobs=10"
end

if test -e $HOME/.rbenv
    set -gx RBENV_ROOT $HOME/.rbenv
    fish_add_path -g $RBENV_ROOT/bin
    rbenv init - | source
    alias rbenv_update="cd ~/.rbenv && git pull --recurse-submodules --jobs=10"
end

if type -q micro
    set -gx EDITOR micro
    set -gx MICRO_TRUECOLOR 1
    # set MICRO_CONFIG_HOME to be able to use Micro with sudo without passing param like '--preserve-env=HOME' if sudo $HOME points to /root or something else...
    {{ if eq .chezmoi.os "darwin" }}
    set -gx MICRO_CONFIG_HOME /Users/$(whoami)/.config/micro
    {{ else if eq .chezmoi.os "linux" }}
    set -gx XDG_CONFIG_HOME $HOME/.config
    set -gx MICRO_CONFIG_HOME /home/$(whoami)/.config/micro
    set -gx DOCKER_HOST unix://$XDG_RUNTIME_DIR/podman/podman.sock
    {{ end }}

    alias mc="micro"
end

{{ if eq .chezmoi.os "linux" }}
set -gx QT_QPA_PLATFORM wayland
set -gx HSA_OVERRIDE_GFX_VERSION 10.3.0
{{ end }}

alias lsa="ls -la"
alias rmf="rm -Rf"
